transportapi-experience-mobile/src/main/mule/routes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="routesFlow" doc:id="a8caa5e9-016f-4691-af67-ec3e0f6bdb6d" >
		<ee:cache doc:name="Cache" doc:id="14032ccd-4c1c-494f-910c-38bc9396b382" >
			<logger level="INFO" doc:name="infoLogger" doc:id="ec93080a-a343-4825-b7d0-e4d0bceea9ad" message="correlationId -- #[vars.correlationId]"/>
			<http:request method="GET" doc:name="getDataFromProcesslayer" doc:id="1ca3aa57-75ea-4d8c-a5f9-523892be79c6" config-ref="HTTP_Request_configuration" path="/api/bookings/{transportType}/routes">
			<http:headers><![CDATA[#[output application/java
---
{
	"transactionId" : attributes.headers.transactionId,
	"client_id" : attributes.headers.client_id,
	"client_secret": attributes.headers.client_secret
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"transportCompany" : attributes.queryParams.companyName default "travelontrip",
	"transportType" : attributes.uriParams.transportType
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java
---
{
	"departureLocationCode" : attributes.queryParams.departureLocationCode,
	"destinationLocationCode" : attributes.queryParams.destinationLocationCode
}]]]></http:query-params>
		</http:request>
			<ee:transform doc:name="Transform Message" doc:id="1a0ad7a0-68b0-4459-9014-87ebce89f79f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<logger level="DEBUG" doc:name="debugLogger" doc:id="cdb7e1dc-6a7e-4a1f-9ac0-0c0ffc97597c" message="#[payload]"/>
		</ee:cache>
	</flow>
</mule>
