transportapi-experience-mobile/src/main/mule/transportapi-experience-mobileapplication.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   
    <flow name="transportapi-experience-mobileapplication-main">
        <http:listener config-ref="transportapi-experience-mobileapplication-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="transportapi-experience-mobileapplication-config" />
      
    </flow>
    <flow name="transportapi-experience-mobileapplication-console">
        <http:listener config-ref="transportapi-experience-mobileapplication-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="transportapi-experience-mobileapplication-config" />
        
    </flow>
    <flow name="get:\bookings\(transportType)\routes:transportapi-experience-mobileapplication-config">
		<flow-ref doc:name="Flow Reference" doc:id="ec9ff8e4-80b5-43f4-a4db-b0f96ae90829" name="routesFlow"/>
    </flow>
    <flow name="get:\bookings\(transportType)\schudules:transportapi-experience-mobileapplication-config">
		<flow-ref doc:name="Flow Reference" doc:id="a8ebd888-51d7-4031-ae5b-ebca04e2c671" name="schdulesFlow"/>
    </flow>
</mule>
