transportapi-systemlayer-fastgo/src/main/mule/schudules.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="SchudulesFlow" doc:id="2187673e-f3fb-426d-a015-1155ea03f7b2" >
		<set-variable value="attributes.queryParams.departureLocationCode" doc:name="depaturevariable" doc:id="3e73729d-d173-4b71-9ea2-4507c4703b98" variableName="depaturevariable"/>
		<set-variable value="attributes.queryParams.destinationLocationCode" doc:name="destinationvariable" doc:id="5c2ee28c-8d37-4481-a8a1-c4ee2b83c838" variableName="destinationvariable"/>
		<choice doc:name="Choice" doc:id="f085885b-4dae-4c02-88dd-9ce466ed379b" >
			<when expression='#[attributes.uriParams.transportType == "land"]'>
				<db:select doc:name="fastgo.land" doc:id="645a72a3-bfab-4cd2-855f-6f67d82bf2cc" config-ref="Database_Config">
							<db:sql><![CDATA[SELECT * FROM fastgo.land where departureLocationCode=:departureLocationCode and destinationLocationCode=:destinationLocationCode;]]></db:sql>
							<db:input-parameters><![CDATA[#[{
	departureLocationCode: attributes.queryParams.departureLocationCode,
	destinationLocationCode: attributes.queryParams.destinationLocationCode
	
}]]]></db:input-parameters>
						</db:select>
				<choice doc:name="Choice" doc:id="d10a93e6-a7e5-4317-a208-ab32dff6c3f8" >
					<when expression="#[vars.depaturevariable !=null and vars.destinationvariable !=null]">
						<choice doc:name="Choice" doc:id="246accaf-e300-4c18-91be-68b31baf6da2" >
							<when expression="#[isEmpty(payload)]">
								<logger level="INFO" doc:name="infoLogger" doc:id="194a184a-7487-4bd3-b967-2789d324326a" message="correlationId -- #[vars.correlationId]" category="com.mouritech.mule4.schdules" />
								<ee:transform doc:name="noRoutesAvailable" doc:id="bafee13b-166e-4118-a985-5bc0ff3ba3e0" >
									<ee:message >
										<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"mesage": "no routes available"
}]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<logger level="DEBUG" doc:name="debugLogger" doc:id="642011e6-5ecb-42f5-a071-bda89993d7d2" message="land -- #[payload]" category="com.mouritech.mule4.schdules"/>
							
</when>
							<otherwise>
								<logger level="INFO" doc:name="infoLogger" doc:id="5d75693d-35fd-4c6f-a6e3-22273d72b78a" message="correlationId --- #[vars.correlationId]" category="com.mouritech.mule4.schdules"/>
								<ee:transform doc:name="getExceptOutput" doc:id="e376c561-0261-410a-9fc4-c749cc7262a9">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload  map{
    "avaiableseats" : $.availableSeats,
    "depatureTime": $.depatureTime,
    "travelroute": {
        "destinationlocation": {
            "locationcode" : $.destinationLocationCode
        },
         "originlocation":{
             "locationcode": $.departureLocationCode
         }
    }
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
								<logger level="DEBUG" doc:name="debugLogger" doc:id="d9967fdf-c26a-4dff-b7fe-3c8eeab3f306" message="land ---#[payload]" category="com.mouritech.mule4.schdules"/>
							
</otherwise>
						</choice>
					</when>
					<otherwise>
						<logger level="INFO" doc:name="infoLogger" doc:id="8e489ddd-3237-4b60-9f5d-2f7789595f7f" message="correlationId- #[vars.correlationId]" category="com.mouritech.mule4.schdules" />
						<ee:transform doc:name="defaultTransform" doc:id="8bf1eeef-3399-4862-a167-ff144ff03313">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "no data found"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="DEBUG" doc:name="debugLogger" doc:id="520df4e7-6a55-4d04-81c2-e9f6db5514ca" message="#[payload]" category="com.mouritech.mule4.schdules"/>
					
</otherwise>
				</choice>
			</when>
			<when expression='#[attributes.uriParams.transportType == "air"]'>
				<db:select doc:name="fastgo.air" doc:id="b6fc71be-f35f-48a0-a6ff-d93377898522" config-ref="Database_Config">
					<db:sql ><![CDATA[SELECT * FROM fastgo.air where departureLocationCode=:departureLocationCode and destinationLocationCode=:destinationLocationCode]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	departureLocationCode: attributes.queryParams.departureLocationCode,
	destinationLocationCode: attributes.queryParams.destinationLocationCode
	
}]]]></db:input-parameters>
				</db:select>
				<choice doc:name="Choice" doc:id="00b2904e-a9d8-4074-af32-5cdf74d8a137" >
					<when expression="#[vars.depaturevariable !=null and vars.destinationvariable !=null]">
						<choice doc:name="Choice" doc:id="060a6cf2-d235-4e75-a2f5-79b9128ac34c" >
							<when expression="#[isEmpty(payload)]">
								<logger level="INFO" doc:name="infoLogger" doc:id="dcff4191-f7f6-47a1-a937-8e707da2e571" category="com.mouritech.mule4.schdules" message="correlationId --- #[vars.correlationId]"/>
								<ee:transform doc:name="noRoutesAvaialbale" doc:id="f647d17e-743c-46d6-a983-7aaad299b0bd" >
									<ee:message >
										<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"mesage": "no routes available"
}]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<logger level="DEBUG" doc:name="debugLogger" doc:id="6be72590-5c07-449c-9b27-2b1d748d02ed" message="air ---#[payload]" category="com.mouritech.mule4.schdules"/>
							
</when>
							<otherwise >
								<logger level="INFO" doc:name="infoLogger" doc:id="a9132d72-8b10-47e0-ba18-629c7cd0964a" message="correlationId --- #[vars.correlationId]" category="com.mouritech.mule4.schdules"/>
								<ee:transform doc:name="getExceptedOutput" doc:id="4befd49b-afe5-435e-abba-e671a9fc0b23" >
									<ee:message >
										<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload  map{
    "avaiableseats" : $.availableSeats,
    "depatureTime": $.depatureTime,
    "travelroute": {
        "destinationlocation": {
            "locationcode" : $.destinationLocationCode
        },
         "originlocation":{
             "locationcode": $.departureLocationCode
         }
    }
}]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<logger level="DEBUG" doc:name="debugLogger" doc:id="dc78d073-28da-421c-9464-b27552ddd68d" message="air -- #[payload]" category="com.mouritech.mule4.schdules"/>
							
</otherwise>
						</choice>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="infoLogger" doc:id="e88b2987-6508-4f33-88b7-0b38a6476066" message="correlationId -- #[vars.correlationId]" category="com.mouritech.mule4.schdules" />
						<ee:transform doc:name="defaultTransfrom" doc:id="8afea4ad-61ff-483c-97c3-e84b84ab4b31" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "no data found"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="DEBUG" doc:name="debugLogger" doc:id="b12f3b31-afec-41f6-8e36-2b04f0304305" message="#[payload]" category="com.mouritech.mule4.schdules"/>
					
</otherwise>
				</choice>
			</when>
			<when expression='#[attributes.uriParams.transportType == "sea"]'>
				<db:select doc:name="fastgo.sea" doc:id="e521ba29-a7bf-4b0c-ade8-eaa64360e69f" config-ref="Database_Config">
					<db:sql ><![CDATA[SELECT * FROM fastgo.sea where departureLocationCode=:departureLocationCode and destinationLocationCode=:destinationLocationCode]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	departureLocationCode: attributes.queryParams.departureLocationCode,
	destinationLocationCode: attributes.queryParams.destinationLocationCode
	
}]]]></db:input-parameters>
				</db:select>
				<choice doc:name="Choice" doc:id="b9129f58-ce66-4a27-ad45-c722932b312d" >
					<when expression="#[vars.depaturevariable !=null and vars.destinationvariable !=null]">
						<choice doc:name="Choice" doc:id="ce57e7d3-8827-429a-ae8d-0a343a0184b6" >
							<when expression="#[isEmpty(payload)]">
								<logger level="INFO" doc:name="infoLogger" doc:id="7983d662-3c38-4afe-b85d-146a8d0e4aef" message="correlationId -- #[vars.correlationId]" category="com.mouritech.mule4.schdules"/>
								<ee:transform doc:name="noRoutesAvaialble" doc:id="3b13a172-9bb4-4293-a808-467372b6a064">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "no routes available"
 }]]></ee:set-payload>
							</ee:message>
						</ee:transform>
								<logger level="DEBUG" doc:name="debugLogger" doc:id="797f1f46-8cb2-4298-937b-b59b1fcce842" message="sea -- #[payload]" category="com.mouritech.mule4.schdules"/>
							
</when>
							<otherwise >
								<logger level="INFO" doc:name="infoLogger" doc:id="fe9ad2e4-e3d7-4be0-9cd5-fbdc50fed4ef" message="correlationId -- #[vars.correlationId]" category="com.mouritech.mule4.schdules"/>
								<ee:transform doc:name="getExceptedOutput" doc:id="383e2ec9-40e0-4edd-a35e-c9c692fcddc5" >
									<ee:message >
										<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload  map{
    "avaiableseats" : $.availableSeats,
    "depatureTime": $.depatureTime,
    "travelroute": {
        "destinationlocation": {
            "locationcode" : $.destinationLocationCode
        },
         "originlocation":{
             "locationcode": $.departureLocationCode
         }
    }
}]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<logger level="DEBUG" doc:name="debugLogger" doc:id="d21f60d5-60da-4ae5-8b9b-134c1935f042" message="sea -- #[payload]" category="com.mouritech.mule4.schdules"/>
							
</otherwise>
						</choice>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="infoLogger" doc:id="be199e1c-b6c4-4a6d-afb5-927d5af8205b" message="correlationId -- #[vars.correlationId]" category="com.mouritech.mule4.schdules" />
						<ee:transform doc:name="defaultTransform" doc:id="f93f38f1-a078-4d4c-af0e-d4b5d81d95bc" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload  map{
    "avaiableseats" : $.availableSeats,
    "depatureTime": $.depatureTime,
    "travelroute": {
        "destinationlocation": {
            "locationcode" : $.destinationLocationCode
        },
         "originlocation":{
             "locationcode": $.departureLocationCode
         }
    }
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="DEBUG" doc:name="debugLogger" doc:id="039b4b6f-8645-45a2-8821-e9bb525bc6b2" message="#[payload]" category="com.mouritech.mule4.schdules"/>
					
</otherwise>
				</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="infoLogger" doc:id="73ca2d4c-f22f-4caa-98ce-4d3ea9a22358" message="correlationId -- #[vars.correlationId]" category="com.mouritech.mule4.schdules" />
				<ee:transform doc:name="defaultTransform" doc:id="d5747f78-1ac5-40b4-bc28-3b258f21dffc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "kindly select the valid transportType"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="DEBUG" doc:name="debugLogger" doc:id="5f3faad4-5942-4ecd-84c6-6785b953618d" message="#[payload]" category="com.mouritech.mule4.schdules"/>
			
</otherwise>
		</choice>
	</flow>
	
	</mule>
